.create-canvas-container {
  margin-top: 20px;

  canvas {
    background: #eee;
    display: block;
  }

  .torch-container {
    .torch-img {
      width: 100px;
      height: 100px;
      align-self: center;
    }
  }

  .options-container {
    margin-top: 30px;

    .shape-selection-image-container {

      .pokeball-container {
        margin-top: 5px;

        .pokeball, .disabled-pokeball {
          height: 60px;
          padding-left: 8px;

          -webkit-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          filter: grayscale(100%);
        }

        .pokeball:hover {
          cursor: pointer;
          -webkit-filter: none;
          -moz-filter: none;
          -ms-filter: none;
          filter: none;
        }
      }

      .shape-selection-image {
        height: 200px;
      }
    }
  }

  .code-container {
    margin-top: 10px;
  }

  .container {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .tag {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
  }

  .button-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
}
